:root {
    --font-family-sans-serif: "Poppins", sans-serif;
    --bs-font-sans-serif: "Poppins", sans-serif;
    --primary-color: #0057ff;
    --primary-light: #80afff;
    --primary-light-2: #dfebff;
    --primary-extra-light: #ecf3ff;
    --primary-dark: #0045cc;
    --bright-navy-blue: #1877ea;
    --success: #28a745;
    /* --light-green: #a9f19d; */
    --light-green: #57e7a2;
    --danger: #dc3545;
    --danger-dark: #b7313e;
    --text: #111;
    --text-light: #6c757d;
    --text-light-2: #9f9f9f;
    --text-light-3: #7a7d88;
    --text-btn: #54575c;
    --background: #e9f5fe;
    --light-background: #f0f2f5;
    --light-grey: #d2d2d2;
    --border-color: #e2e2e2;
    --border-color-2: #d0d0d0;
    --border-color-3: #cbd0dc;
    --border-color-4: #b1cafa;
    --input-border-color: #d0d0d0;
    --border-dark: #cccccc;
    --heading-text: #243a4b;
    --heading1-text: #192a3e;
    --text-grey: #7f7f7f;
    --primary-cta-complementary: #ffa800;
    --secondary-cta-complementary: #ff9800;
    --base-white: #ffffff;
    --base-black: rgba(0, 0, 0);
    --faded-icon: #b0b0b0;
    --body-font-size: 1rem;
    --small-text-font-size: 0.875rem;
    --large-text-font-size: 1.25rem;
    --heading1-font-size: 2.5rem;
    --heading2-font-size: 2rem;
    --heading3-font-size: 1.75rem;
    --heading4-font-size: 1.5rem;
    --heading5-font-size: 1.25rem;
    --scrollbar-color: rgba(255, 255, 255, 0.6) transparent;
    --box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
        0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
        0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}

:root,
::backdrop {
    /* Colors */
    --sl-nav-pad-x: 0;
    --sl-nav-pad-y: 0;
    --sl-color-white: var(--base-white);
    --sl-color-gray-1: var(--border-color);
    /* Light gray */
    --sl-color-gray-2: var(--border-dark);
    --sl-color-gray-3: var(--text-light-3);
    --sl-color-gray-4: var(--text-light-2);
    --sl-color-gray-5: var(--text-light);
    --sl-color-gray-6: var(--text-grey);
    --sl-color-black: var(--base-black);

    /* Primary Colors */
    --sl-hue-orange: 39;
    /* Base */
    --sl-color-orange: var(--primary-cta-complementary);
    --sl-color-orange-low: var(--secondary-cta-complementary);
    --sl-color-orange-high: var(--primary-light);

    --sl-hue-blue: 224;
    /* Base */
    --sl-color-blue: var(--primary-color);
    --sl-color-blue-low: var(--primary-extra-light);
    --sl-color-blue-high: var(--primary-light);

    --sl-hue-green: 101;
    --sl-color-green: var(--light-green);
    --sl-color-green-low: #a9f19d;
    /* Original base */
    --sl-color-green-high: var(--success);

    --sl-hue-red: 339;
    --sl-color-red: var(--danger);
    --sl-color-red-low: var(--danger-dark);
    --sl-color-red-high: #ffcccb;

    /* Accents */
    --sl-color-accent: var(--primary-color);
    --sl-color-accent-low: var(--primary-extra-light);
    --sl-color-accent-high: var(--primary-light);

    /* Text */
    --sl-color-text: var(--text);
    --sl-color-text-accent: var(--text-btn);
    --sl-color-text-invert: var(--base-white);

    /* Backgrounds */
    --sl-color-bg: var(--light-background);
    --sl-color-bg-nav: var(--primary-light-2);
    --sl-color-bg-sidebar: var(--primary-extra-light);
    --sl-color-bg-inline-code: var(--border-color-3);
    --sl-color-bg-accent: var(--primary-light);

    /* Hairline */
    --sl-color-hairline-light: var(--border-color-2);
    --sl-color-hairline: var(--border-color);
    --sl-color-hairline-shade: var(--border-dark);

    /* Shadows */
    --sl-shadow-sm: 0px 1px 1px hsla(0, 0%, 0%, 0.12), 0px 2px 1px hsla(0, 0%, 0%, 0.24);
    --sl-shadow-md: 0px 4px 6px var(--box-shadow);
    --sl-shadow-lg: 0px 16px 24px var(--box-shadow);

    /* Fonts */
    --sl-font-system: var(--font-family-sans-serif);
    --sl-font-system-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
        'Courier New', monospace;
    --__sl-font: var(--font-family-sans-serif), var(--font-family-sans-serif);
    --__sl-font-mono: var(--sl-font-system-mono);

    /* Typography */
    --sl-text-2xs: 0.75rem;
    /* 12px */
    --sl-text-xs: var(--small-text-font-size);
    /* 14px */
    --sl-text-sm: var(--small-text-font-size);
    /* 14px */
    --sl-text-base: var(--body-font-size);
    /* 16px */
    --sl-text-lg: var(--large-text-font-size);
    /* 20px */
    --sl-text-xl: var(--heading5-font-size);
    /* 24px */
    --sl-text-2xl: var(--heading4-font-size);
    /* 28px */
    --sl-text-3xl: var(--heading3-font-size);
    /* 32px */
    --sl-text-4xl: var(--heading2-font-size);
    /* 40px */
    --sl-text-5xl: var(--heading1-font-size);
    /* 64px */

    /* Headings */
    --sl-text-body: var(--body-font-size);
    --sl-text-body-sm: var(--small-text-font-size);
    --sl-text-h1: var(--heading1-font-size);
    --sl-text-h2: var(--heading2-font-size);
    --sl-text-h3: var(--heading3-font-size);
    --sl-text-h4: var(--heading4-font-size);
    --sl-text-h5: var(--heading5-font-size);

    /* Key Layout Values */
    --sl-nav-height: 80px;
    --sl-sidebar-width: 18.75rem;
    --sl-content-width: 100%;
    --sl-line-height: 1.5;
    --sl-line-height-headings: 1.2;
    --sl-z-index-navbar: 10;
    --sl-z-index-sidebar: 5;
    --sl-outline-offset-inside: -0.1875rem;
}

:root[data-theme='light'],
[data-theme='light'] ::backdrop {
    /* Override for light mode */
    --sl-color-bg: var(--base-white);
    --sl-color-bg-nav: var(--base-white);
    --sl-color-text: var(--text-light);
    --sl-color-text-invert: var(--base-black);
    --sl-color-bg-sidebar: var(--base-white);
    --sl-color-hairline-light: var(--border-dark);
}

.sidebar-content ul li {
    border: none;
}

.sidebar-content ul li>details ul li {
    border-inline-start: 1px solid var(--sl-color-hairline-light);
    padding-inline-start: 0.2rem;
}

.sidebar-content ul li a,
.sidebar-content summary {
    padding-top: 10px;
    padding-bottom: 10px;
}

.sidebar-content ul li a[aria-current="page"],
.sidebar-content ul li a:hover {
    background: var(--light-background);
    border-left: 0.3rem solid var(--primary-color);
    margin-left: -0.4rem;
    padding-left: 0.61rem;
    border-radius: 0;
    color: var(--text)
}

main{
    max-width: 1300px;
    margin: 0 auto;
}

b,
strong {
    font-weight: 500;
    color: var(--base-black);
}

.sl-markdown-content h2:not(:where(.not-content *)) {
    font-size: var(--heading5-font-size)
}

.sl-markdown-content h3 {
    font-size: var(--body-font-size);
    font-weight: 600;
    margin: 0;
    padding: 0;
}

a:where(.astro-u2l5gyhi) {
    box-shadow: none;
}

a:where(.astro-u2l5gyhi) .link-title {
    font-size: var(--large-text-font-size)
}

.sl-markdown-content img {
    border: 8px solid var(--border-dark);
    border-radius: 16px;
    width: 100%;
}

img:where(.astro-m46x6ez3) {
    height: 40px;
}

.right-sidebar-container {
    width: var(--sl-sidebar-width);
}

.sl-markdown-content ul,
.sl-markdown-content ol {
    list-style: disc;
    margin-left: 20px;
    /* Adds space for bullets */
    padding-left: 20px;
    /* Default for unordered lists */
}
